.imagen-login{
    border: solid 10px rgb(0, 0, 0);
    
}
.text-decoration{
    color: rgb(0, 0, 0);
    text-decoration: underline;
    background-color: transparent;
}

#div1{
        position: absolute;
        height: 200px;
        width: 400px;
        margin: -100px 0 0 -200px;
        top: 40%;
        left: 34.07%;
    
}