<p>Simulacro</p>
<form>
    <table>
        <th colspan="2">Inscripcion Profesor</th>
        <tr>
            <td><input type="text" placeholder="Nombres"></td>
            <td><input type="text" placeholder="Apellidos"></td>
        </tr>
        <tr>
            <td><input type="text" placeholder="E-mail"></td>
            <td><input type="text" placeholder="Rut"></td>
        </tr>
        <tr>
            <td><input type="password" placeholder="Contrasena"></td>
            <td><input type="password" placeholder="Repita Contrasena"></td>
        </tr>
        <tr>
            <td colspan="2" ><input type="submit" value="submit"></td>
        </tr>
    </table>
</form>
