<h1 id="name-form">Inscripción alumno</h1>

<div id="div1">
    <div id="div2">
        <input placeholder="Nombres" type="text" id="input1"/>
        <input placeholder="Apellidos" type="text" class="input2"/>
        <input placeholder="Email" type="text"/>
        <input placeholder="Rut" type="text"/>
        <input placeholder="Contraseña" type="password"/>
        <input placeholder="Repita contraseña" type="password"/>
        <button id="b1" type="submit">Crear alumno</button>
    </div>
</div>