<h1 id="name-form">Inscripción alumno</h1>

<div id="div1">
    <form [formGroup]="signupForm" (ngSubmit)="enviar(signupForm.value)" id="div2">
        <input formControlName="nombres" placeholder="Nombres" type="text" id="input1"/>
        <input formControlName="apellidos"placeholder="Apellidos" type="text" class="input2"/>
        <input formControlName="email" placeholder="Email" type="text"/>
        <div  *ngIf="signupForm.get('email').hasError('email') && signupForm.get('email').touched ">Email obligatorio</div>
        <input formControlName="rut" placeholder="Rut" type="text"/>
        <input formControlName="clave" placeholder="Contraseña" type="password"/>
        <input placeholder="Repita contraseña" type="password"/>
        <button id="btn1"(click)="enviar(values)" [disabled]="signupForm.invalid" type="submit">Crear alumno</button>
    </form>
</div>

<div id="nav1">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
          <img src="assets/img/logo.png" width="45" height="40" class="d-inline-block align-top" alt="">
          <font class= "typo" face="Georgia" >Simulacro</font> 
        </a>
