#div2 > input {
    width: 400px;
    height: 60px;
    border-radius: 4px; 
    border: 1px solid rgb(160, 160, 160);
    text-align:center;
    font-size: 20px;
    margin: 10px

}

h1 {
    text-align: center;
    padding: 20px
}

#div1 {
    display: flex;
    align-items:center;
    justify-content: center;
    margin-top: 150px;
}

#div2{
    width: 850px;
}

#btn1{
    width: 251px;
    margin-left: 9px;
    margin-top: 15px;
    height: 40px;
}

#btn1:hover{
    background-color: rgb(201, 200, 200);
}

#name-form {
    margin-top: 100px;
}

#nav1 {
    width: 100%;
    position: absolute;
    top: 0;
}

#s1{
    text-align: center;
}


